/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');




.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  font-family: Mulish; 
  font-size: 1rem;
}

ol, ul {
	list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*  */
/* .container {
  max-width: 69.3rem;
  margin: 0 auto;

} */



/* NAVIGATION  */

#menuToggle {
  display: inline-block;
  position: relative;
  top: -48px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #458FF6;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: 10px 0 0 -50px;
  padding: 50px;
  
  
  background: #458FF6;
  border-radius: 0 5% 5% 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: white;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0 30px 0;
font-size: 1.5rem;

}

/* Front PAge */
#front-page {
  padding: 0 30px;
  /* min-height: 100vh; */
  margin-bottom: 80px;
}

.front-page__img {
  display: block;
  max-width: 100%;
}

.front-page__title {
  font-size: 2rem;
  font-weight: 500;
  margin: 60px 0;
  
}

.front-page__subtitle {
  font-size: 1.5rem;
  margin-bottom: 60px;
 
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.btn {
  height: 50px;
  width: 170px;
  background-color: #458FF6;
  border: none;
  border-radius: 30px;
  color: white;
}

/* SECTION 2  */
/* #section2 {
  margin-top: 60px;
  padding: 0 20px;
} */

.section2__header {
  text-align: center;
  padding: 24px;
}
.section2__header_title {
font-size: 1.5rem;
font-weight: bold;
padding-bottom: 20px;
/* padding: 24px; */
}

.section2__header_subtitle {
  font-size: 1rem;
  padding-bottom: 20px;
  color: #7D7987;
  /* padding: 24px; */
  line-height: 1.3;
  letter-spacing: 1.1px;
  display: flex;
  align-content: center;
}

  .section2__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
  }

  .section2__block {
    width: 35%;
    padding: 20px;
    background-color:#b3d4fc;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    box-shadow: 1px 1px 7px rgb(201, 196, 196);
    text-align: center;
  }

  
 .section2__block > img {
  padding-bottom: 20px;
  max-width: 80px;
  height: 70px;
}

.section2__block h2 {
  padding-bottom: 15px;
  font-weight: bold;
}

.section2__block p {
color: rgb(48, 48, 48);
}

.section2_btn {
  display: block;
margin: 20px auto;
background-color: transparent;
padding: 7px 25px;
border: 1px solid;
border-radius: 25px;
border-color: #458FF6;
color: #458FF6;
font-size: 1rem;
}

.section2_btn:hover {
 opacity: 0.7;
}

/* Section3 */
.section3 {
  margin: 80px auto;
}
.section3__left_img {
  display: block;
  max-width: 100%;
}

.section3__right_title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
  padding: 24px;
}

.section3__right_subtitle {
  font-size: 1rem;
  padding-bottom: 20px;
  color: #7D7987;
  padding: 24px;
  line-height: 1.3;
  letter-spacing: 1.1px;
  display: flex;
  align-content: center;
}



/* SECTION 4 */

#section4 {
  border: 2px solid;
  border-color: rgb(205, 213, 255, 0.4);
  border-radius: 25px;
}
.section4__left_img {
  display: block;
  max-width: 100%;
}

.section4__right_title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
  padding: 24px;
}

.section4__right_subtitle {
  font-size: 1rem;
  padding-bottom: 20px;
  color: #7D7987;
  padding: 24px;
  line-height: 1.3;
  letter-spacing: 1.1px;
  display: flex;
  align-content: center;
}

/* SECTION 5 */

#section5 {
  margin: 100px auto;
}

.section5__header {
  font-size: 1.5rem;
   text-align: center;
   margin-bottom: 90px;
   position: relative;
}





.section5__block {
  max-width: 350px;
  display: block;
  justify-content: center;
  margin: 20px auto;
  background-color: #d7d7e8;
  border-radius: 10px;
  
}


.section5__block-img {
  max-width: 100%;
  width: 350px; 
}
.section5__block-title {
font-size: 1.31rem;
font-weight: bold;
padding: 20px 15px;
max-width: 280px;
}

.section5__block-subtitle {
  padding: 20px 15px;
}



.section5__link {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  padding-bottom: 15px;
  color: #4089ED;
}

.section5__link::after {
  display: inline-block;
  width: 26px;
  height: 20px;
  content: url(./images/arrow.svg);
  align-items: center;
  position: absolute;
  top: -5px;
  right: -55%;
}

/* FOOTER */
.footer__left {
  margin-bottom: 30px;
}
.footer__right {
  display: flex;
  justify-content: space-between;

}

.footer__right-list > li {
  padding-bottom: 20px;
}


/* Dropdown Button */
.footer-clean {
  padding:50px 0;
  background-color:#f1edfd;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
 
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

.copyright_desription {
  margin-top: 20px;

  /* padding: 15px 15px 0px 15px; */
 
  text-align: center;
  padding: 0 80px;
 
}
